body {
	background-image: url("../images/bedroom1.jpg");	
	background-repeat: no-repeat;
	background-size: 100%;
	
	font-family: Arial, Helvetica,sans-serif;
	list-style-type: none; /* Remove bullets */

}

a{
	text-decoration: none;
	font-size:25px;
	text-align:center;	
	color:Yellow;
	;
}

a:hover{
	color:green;
}

@media(min-width:468px){
   .container-1 {
      padding-left:25%; 
      padding-right:25%;
      padding-bottom:30%;     
      display: flex;        
     
    }  

  .container-1 div { 
  border:2px black solid;  
  background-color: white;
	}
   }

  .container-1 h1{
    color:red;
    font-size:25px;
    text-align: center;
  }   

  .container-1 p{
    color:black;
    font-size: 20px;

  }

  .choice-1 {
   	flex:1;
   	background-color:grey;
   }

  .container-2 div{    
    display: flex;
    justify-content: center;    
    border:2px black solid;
  }

 
